@model CMS.ViewModels.DetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Info.WordCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info.WordCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info.CharCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info.CharCount)
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Article.Body)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Article.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
